/ArrayTest/build/
/awtTest/build/
/awtTest/dist/
/swingTest/build/
/ArrayTest/nbproject/private/
/awtTest/nbproject/private/
/swingTest/dist/
/swingTest/nbproject/private/
/awtTestApplet/nbproject/private/
/awtTestApplet/build/
/awtTestApplet/dist/
/swingTestApplet/nbproject/private/
/swingTestApplet/build/
/swingTestApplet/dist/